document.querySelector('#contents-form').innerHTML = `<%= j(render "subtitles/progress_bar") %>`;
document.querySelector('.close-speech-to-text-modal').remove();
document.querySelector('#speech-to-text-modal').insertAdjacentHTML('afterbegin', `<div class="overlay"></div>`);