<!-- 「翻訳を追加するボタン（translations#new）」 -->
<%= form_with url: new_translation_path, method: :get do |f| %>
  <%= f.hidden_field :passage_id, value: passage.id %>
  <%= f.hidden_field :lang_code_of_translation, value: @lang_code_of_translation %>

  <%= button_tag type: 'submit', class: 'btn btn-sm btn-gray-article float-left mr-2 loading-show-btn', id: "passage-#{passage.id}-translation-btn" do %>
    <i class="far fa-language"></i>
  <% end %>
  <div class="loading is-hide">
    <div class="loading_icon"></div>
  </div>
<% end %>
