
<div class="headline-green">

  <% lang_number = article.lang_number %>
  <% lines = article.title.lines %>

  <h2 class="article-title font-weight-bold">
    <b>
      <% lines.each_with_index do |l, i| %>
        <!-- https://docs.ruby-lang.org/ja/latest/method/String/i/split.html -->
        <div class="title-line">
          <%= render "shared/line_with_dict", line: l, lang_number: lang_number %>

          <!-- 最後の行の文末に編集ボタンを置く -->
          <% if i == lines.length - 1 %>
            <%= render 'articles/edit_title_btn', article: article %>
          <% end %>
        </div>
      <% end %>
    </b>
  </h2>

</div>
