<!--
<#%= f.select :lang_number, lang_form_and_auto_configure,
             {},
             { class: 'form-control form-control-sm my-3 preview-target-lang-number'} %>
-->

<div class="input-group my-3">
  <div class="input-group-prepend">
    <label class="input-group-text" for="articleTitleLanguage"><%= t('articles.language_of_title') %></label>
  </div>
  <%= f.select :lang_number, lang_form_and_auto_configure,
               {},
               {class: 'custom-select form-control preview-target-lang-number', id: 'articleTitleLanguage'} %>
</div>