<% if passages.blank? %>
  <!-- passage_with_translationの中にも、辞書の変数を用意するセーフティはつけているが、each文の中でいちいち辞書をfind_byしていては効率が悪いので、ここでも用意する -->
  <% article.video? ? passages = article.passages.order(start_time: :asc) : passages = article.passages.order(created_at: :asc) %>
<% end %>



<div id="infinite-scroll">
  <div class="append-content" id="passage-list-wrapper">
    <%= render partial: 'passages/passage_with_translation', collection: passages, as: "passage" %>
  </div>
</div>
<%= render "shared/infinite_scroll_normal", contents: passages %>




<div id="passage-form" class="my-5">
  <%= render 'passages/new_btn', article: article %>
</div>
