
<div class="container bg-white pt-5 pb-5 my-5">
  <div class="row justify-content-md-center">
    <div class="col col-lg-10">
      <h1 class="font-weight-bold mb-4"><%= title t 'articles.articles' %></h1>
      <%= render 'articles/cards', articles: @articles %>
    </div>
  </div>
</div>