<div class="container bg-white pt-5 pb-5 my-5">
  <div class="row justify-content-md-center">
    <div class="col col-lg-10">

      <div id="create-video">
        <%= render 'articles/youtube_url_form', article: @article %>
      </div>

    </div>
  </div>
</div>