// Place all the styles related to the words controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "./variables";

/* 辞書検索機能付き文章 */
a {
  &.word-with-searching-dict {
    cursor: pointer;
    color: $brand-black;
    font-size: 1.1em;
    line-height: 1.8;

    &.phrase {
      color: #16a085;
    }

    &:hover {
      color: $brand-green;
      // font-size: 1.2em;
      // クリック可能なことが伝わりにくくなっても、font-sizeを変えない理由
      // hoverしたときにボタンの位置が変更したりして、レイアウトが崩れる。
      // 全文リンクになったときなど、hoverが目立ちすぎる。
    }
  }

}

h2, h3 {
  a.word-with-searching-dict {
    color: $text-black;
  }

  &.article-title {
    a.word-with-searching-dict {
      color: $brand-green;
    }
  }

}


.line-with-dict {
  &.green {
    a.word-with-searching-dict {
      color: $brand-green;
    }
  }

}


// 辞書の見出しのラベル
.item-label {
  display: inline-block;
  font-size: 0.8em;
  font-weight: bold;
  color: $text-black;
  border: 1.5px solid $text-black;
  border-radius: 4px;
  padding: 4px 8px;

}

// 大きな復習ボタン
.emphasized-review-btn {
  .btn {
    font-size: 1em;
    font-weight: bold;
    padding: 8px 16px;
    border: solid 1px #27ae60;
    border-radius: 25px;
    width: 100%;
  }


  .btn-border-gray {
    color: #27ae60;
    box-shadow: 1px 1px lightgray;

    &:hover {
      color: #27ae60;
      background-color: darken(white, 10%);
      -webkit-transform: translate(1px, 1px);
      transform: translate(1px, 1px);
      box-shadow: none;
    }
  }

}



/* */