<header class="header">
  <div class="container logo text-center pt-3">
    <%= link_to root_path do %>
      <img src="<%= asset_url("BooQs_logo.svg") %>" class="mr-2"><span class="pt-2">BooQs Sub</span>
    <% end %>
  </div>
</header>





