<header class="header">
  <div class="container logo text-left pt-3 d-flex">

    <%= link_to root_path do %>
      <img src="<%= asset_url("BooQs_logo.svg") %>" class="mr-2"><span class="pt-2">BooQs Sub</span>
    <% end %>

    <%= link_to new_article_path, class: 'ml-auto' do %>
      <div class="btn btn-sm btn-info font-weight-bold">
        <i class="far fa-video-plus mr-2"></i>投稿する
      </div>
    <% end %>
  </div>
</header>



<div class="modal-wrapper" id="display-modal-1">
  <div class="overlay close-modal">
    <div class="close-btn">
      <i class="fal fa-times"></i>
    </div>
  </div>

  <div class="modal-booqs">
    <div id="create-video-captions">
      <#%= render 'articles/input_youtube_url', article: @article, chapter: @chapter %>
    </div>
  </div>

</div>


